{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Mail broadcast</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </head>

  <body>

    <!-- navbar -->

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Status</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <!--   end navbar-->

     <h3 class="text-center"> Μαζική αποστολή email με ή χωρίς συνημμένο</h3>

    <form  action="{% url 'Sendresult'  %}" method="POST" class="post-form" enctype="multipart/form-data">
             {% csrf_token %}
            <div class="container col-md-6">
              <div class="row">
                    <div class="col">
                            <label for="msgtitle"> </label><!-- Add the label if you want -->
                                <h5>Θέμα:</h5>
                             <input type="text" class="form-cotrol mb-1"   id="msgtitle" name="msgtitle">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                            <label for="multiLineInput"> </label><!-- Add the label if you want -->
                                <h5>Κείμενο προς αποστολή:</h5>
                             <textarea class="form-cotrol mb-1" rows="3"  id="multiLineInput" name="msgtext"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                            <label for="multiReceivers"> </label><!-- Add the label if you want -->
                                <h5>Παραλήπτες:</h5>
                             <textarea class="form-cotrol mb-1" rows="3"  id="multiReceivers" name="multiReceivers"></textarea>
                    </div>
                </div>

               <div class="row">
                    <div class="col">
                            <label for="multiBcc"> </label><!-- Add the label if you want -->
                                <h5>Κρυφή Κοινοποίηση:</h5>
                             <textarea class="form-cotrol mb-1" rows="3"  id="multiBcc" name="multiBcc"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                            <label class="form-label" for="customFile">Επισύναψη αρχείου</label>
                            <input type="file" name='customfile' class="form-control" id="customFile" multiple/>
                    </div>
                </div>

               <div class="row">
                    <div class="col">
                        <input type="submit" id="Sendmail" class="button btn-primary float-right mb-5 mt-1" value="Send" >
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" id="livesearch" class=" float-right mb-2 mt-1">
                    </div>
                </div>

                <table id="emailTable" class="table table-condensed table-striped  table-hover">

                    <thead>
                            <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">username</th>
                                   <th scope="col">name</th>
                                   <th scope="col">active</th>
                                   <th class=" info">To <input type="checkbox" name="checkAll" class="checkAll"></th>
                                   <th class=" info">Bcc <input type="checkbox" name="checkAllBcc" class="checkAllBcc"></th>
                            </tr>
                    </thead>
                    <tbody>
                            {% for rec in all_emails %}
                                  <tr>
                                    <td > {{ forloop.counter }} </td>
                                    <td class="email"> {{ rec.username }} </td>
                                    <td >{{ rec.name }} </td>
                                    <td >{{ rec.active }} </td>
                                  <th>
                                     <input type="checkbox" name="foo" id="checks{{ forloop.counter }}" class="checkboxes">
                                  </th>
                                  <th>
                                     <input type="checkbox" name="foo" id="checksBcc{{ forloop.counter }}" class="checkboxesBcc">
                                  </th>

                                  </tr>
                              {% endfor %}

                    </tbody>
                   </table>

             </div>  <!-- Content here -->

    </form>

    <script>
            $(function(){
                listCheckboxes=[];
                listCheckboxesBcc=[];


             $('.checkAll').click(function(){
              if (this.checked) {
                 $(".checkboxes").prop("checked", true);
                  listCheckboxes=[];
              } else {
                 $(".checkboxes").prop("checked", false);
                 listCheckboxes=[];
                  $("#multiReceivers").val('');
                 //alert('no');
                  //alert('no');
                  //alert('no');
              }
              var numberOfCheckboxes = $(".checkboxes").length;
              var numberOfCheckboxesChecked = $('.checkboxes:checked').length;
              for(i=0;i<numberOfCheckboxesChecked;i++){
                  listCheckboxes.push($("#checks"+(i+1)).closest('tr').find('.email').text().trim());
              }

              $("#multiReceivers").val(listCheckboxes);
               console.log(listCheckboxes);
             //  alert(numberOfCheckboxesChecked);

           });

             //Bcc...

             $('.checkAllBcc').click(function(){
              if (this.checked) {
                 $(".checkboxesBcc").prop("checked", true);
                  listCheckboxesBcc=[];
              } else {
                 $(".checkboxesBcc").prop("checked", false);
                 listCheckboxesBcc=[];
                  $("#multiBcc").val('');

              }
              var numberOfCheckboxesBcc = $(".checkboxesBcc").length;
              var numberOfCheckboxesCheckedBcc = $('.checkboxesBcc:checked').length;
              for(i=0;i<numberOfCheckboxesCheckedBcc;i++){
                  listCheckboxesBcc.push($("#checks"+(i+1)).closest('tr').find('.email').text().trim());
              }

              $("#multiBcc").val(listCheckboxesBcc);
               console.log(listCheckboxesBcc);
             //  alert(numberOfCheckboxesChecked);

           });

        $(".checkboxesBcc").click(function(){
               if ($(this).is(':checked')) {
                   listCheckboxesBcc.push($(this).closest('tr').find('.email').text().trim());
                   //alert(listCheckboxes);
               }
               else {
                   listCheckboxesBcc.splice(listCheckboxesBcc.indexOf($(this).closest('tr').find('.email').text()),1);
                    //alert(listCheckboxes);
               }
                $("#multiBcc").val(listCheckboxesBcc);

               var numberOfCheckboxesBcc = $(".checkboxesBcc").length;
              var numberOfCheckboxesCheckedBcc = $('.checkboxesBcc:checked').length;

              if(numberOfCheckboxesBcc == numberOfCheckboxesCheckedBcc) {
                 $(".checkAllBcc").prop("checked", true);
              } else {
                 $(".checkAllBcc").prop("checked", false);
              }
              console.log(listCheckboxesBcc);

              //alert(numberOfCheckboxesChecked);
           });


         //End Bcc

           $(".checkboxes").click(function(){
               if ($(this).is(':checked')) {
                   listCheckboxes.push($(this).closest('tr').find('.email').text().trim());
                   //alert(listCheckboxes);
               }
               else {
                   listCheckboxes.splice(listCheckboxes.indexOf($(this).closest('tr').find('.email').text()),1);
                    //alert(listCheckboxes);
               }
                $("#multiReceivers").val(listCheckboxes);

               var numberOfCheckboxes = $(".checkboxes").length;
              var numberOfCheckboxesChecked = $('.checkboxes:checked').length;

              if(numberOfCheckboxes == numberOfCheckboxesChecked) {
                 $(".checkAll").prop("checked", true);
              } else {
                 $(".checkAll").prop("checked", false);
              }
              console.log(listCheckboxes);

              //alert(numberOfCheckboxesChecked);
           });


        $("#livesearch").keyup(function () {
                    var value = this.value.toLowerCase().trim();

                    $("table tr").each(function (index) {
                        if (!index) return;
                        $(this).find("td").each(function () {
                            var id = $(this).text().toLowerCase().trim();
                            var not_found = (id.indexOf(value) == -1);
                            $(this).closest('tr').toggle(!not_found);
                            return not_found;
                        });
                    });
            });

        });


    </script>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>